<h1>Welcome to Haven  <div id = "image"> 
    <%= image_tag 'Spa-design.jpg' %>
 </div> </h1>
<p>It is now <%= Time.now %> </p>
<p>A place to unwind from your daily stresses as you stock up on all of your speciality items!</p>


